<!DOCTYPE html>
<html>
  <head>
    <%- include('partials/header.ejs', {title}) %>
  </head>
  <body>
    <%- include('partials/header-nav.ejs', {title}) %>
    <div class="container">
      <div class="main-container">
        <h4><%= subTitle %></h4>
        <% if (message !== null) { %>
          <div class="alert alert-success" id="alertBox" role="alert">
            <%= message %>
          </div>
        <% } %>
        <div class="col-lg-12">
          <div class="input-group">
            <input type="text" class="form-control" id="searchBox" placeholder="Search beer...">
            <label class="control-label" for="parameterValue">&nbsp;</label>
            <button type="button" class="btn btn-primary" onClick="requestUrl('/add')">add</button>
          </div>
        </div>
        <div class="beer-list">
          <% JSON.parse(beers).value.map((beer) => { %>
            <div class="beer-container">
              <div class="beer-details">
                <div class="flex-item">
                  <div class="image-container">
                    <i class="fas fa-beer"></i>
                  </div>
                </div>
                <div class="flex-item center">
                  <div class="name"><%= beer.name %></div>
                  <div class="breweryName"><%= beer.breweryName %></div>
                  <div class="info flavors">Flavors: <%= beer.flavors %></div>
                  <div class="info lastTappedOn">Last tapped on <%= beer.lastTappedOn %></div>
                </div>
                <div class="flex-item info right">
                  <div class="ibu">IBU <%= beer.ibu %></div>
                  <div class="abv">ABV <%= beer.abv %></div>
                </div>
              </div>
              <div class="buttons-container">
                <button type="button" class="btn btn-success" onClick="requestUrl('/edit/<%= beer.id %>')">edit</button>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDelete" data-id="<%= beer.id %>">delete</button>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
    </div>
    <%- include('partials/delete-modal.ejs') %>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
